/* 

COLORS
#ffffff
#000000
#9A3B91
#6a2162
#767676


FONTS



*/


@font-face {
  font-family: 'Vale';
  src: url(fonts/vale.ttf);
}


body{
    margin: 0;
    background-image: -webkit-gradient(linear,  left top, right bottom,  from(#6a2162), to(#000000));
    background-image: linear-gradient(to bottom right,  #6a2162, #000000);
    font-family: 'Vale';
}



/*      Section One Quotes       */

.one{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
}

h1{
    font-size: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


quote{
    font-size: 2rem;
    padding: 20px;
    margin: 30px;
    width: 400px;
    height: auto;
    background-color: #9A3B91;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 10px 4px black;
    box-shadow: 2px 2px 10px 4px black;
}








/*   Section Two StorySlideShow   */

.two {
    margin: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}



.slide-show{
    margin: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.slideshow{
    -webkit-box-shadow: 2px 2px 10px 4px black;
    box-shadow: 2px 2px 10px 4px black;
}

.slides{
    height: 680px;
    width: 990px;
}

.slide-end{
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-size: 4rem;
    background-color: #775D5E;
    color:white;
    opacity: .8;
    
}

.end{
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    
}

.button{
    font-size: 30px;
    color:black;
    opacity: .1;
    width: 50px;
    border: none;
}

.prev{
    left: -50px;
}

.next{
    left: -50px;
}










/*      Animations       */

@-webkit-keyframes pulse {
    0% {color:white}
    25% {color:black}
    50% {color:#9A3B91}
    75% {color:black}
    100% {color: white;}
}

@keyframes pulse {
    0% {color:white}
    25% {color:black}
    50% {color:#9A3B91}
    75% {color:black}
    100% {color: white;}
}

h1 {
    -webkit-animation: pulse 10s infinite;
    animation: pulse 10s infinite;
}








@-webkit-keyframes button-pulse {
    0% {background-color:white}
    25% {background-color:#9A3B91}
    50% {background-color:white}
    75% {background-color:#9A3B91}
    100% {background-color: white;}
}

@keyframes button-pulse {
    0% {background-color:white}
    25% {background-color:#9A3B91}
    50% {background-color:white}
    75% {background-color:#9A3B91}
    100% {background-color: white;}
}

.button:hover{
    -webkit-animation: button-pulse 5s infinite;
    animation: button-pulse 5s infinite;
    cursor: pointer;
}




@-webkit-keyframes jiggle {
    0% {-webkit-transform: rotate(1deg);transform: rotate(1deg)}
    25% {-webkit-transform: rotate(-1deg);transform: rotate(-1deg)}
    50% {-webkit-transform: rotate(1deg);transform: rotate(1deg)}
    75% {-webkit-transform: rotate(-1deg);transform: rotate(-1deg)}
    100% {-webkit-transform: rotate(1deg);transform: rotate(1deg)}
}

@keyframes jiggle {
    0% {-webkit-transform: rotate(1deg);transform: rotate(1deg)}
    25% {-webkit-transform: rotate(-1deg);transform: rotate(-1deg)}
    50% {-webkit-transform: rotate(1deg);transform: rotate(1deg)}
    75% {-webkit-transform: rotate(-1deg);transform: rotate(-1deg)}
    100% {-webkit-transform: rotate(1deg);transform: rotate(1deg)}
}

quote:hover {
    -webkit-animation: jiggle .5s forwards;
    animation: jiggle .5s forwards;
}
















/* MMMMMMMM Footer MMMMMMMM */
.footer{
    background-color:#000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width:100%;
    position:static;
    font-family: 'Bitter', serif;
    color:white;
    font-size: 1.1em;
    padding-top:8px;
}

.footer p a{
    text-decoration: underline;
    color:white;
}

.footer p a:hover{
    text-decoration: overline;
    color:#9A3B91;
}













@media screen and (min-width: 320px) and (max-width:580px) {
    #page {}
}


@media screen and (max-width:1140px) {
    .container-fluid {
        width: 100%;
    }
    .row, body, .main {
        max-width: 100%;
        padding:0;
        margin: 0;
        overflow-x: hidden;
    }
    
}


@media screen and (max-width:959px) {
    .container-fluid {
        width: 100%;
    }
    .row, body, .main {
        max-width: 100%;
        padding:0;
        margin: 0;
        overflow-x: hidden;
    }
    
}


@media screen and (max-width:640px) {
   .container-fluid {
        width: 100%;
    }
    .row, body, .main {
        max-width: 100%;
        padding:0;
        margin: 0;
        overflow-x: hidden;
    }
    
}


@media screen and (max-width:360px) {
    .container-fluid {
        width: 100%;
    }
    .row, body, .main {
        max-width: 100%;
        padding:0;
        margin: 0;
        overflow-x: hidden;
    }
    
}


@media screen and (max-width:320px) {
    .container-fluid {
        width: 100%;
    }
    .row, body, .main {
        max-width: 100%;
        padding:0;
        margin: 0;
        overflow-x: hidden;
    }
    
}